{include file="public:header"/}
<div class="container theme-showcase" role="main">
    <div class="row">
        <!-- left -->
        <div class="col-sm-8 col-xs-12">
            <!-- 轮播 -->
            <div class="panel panel-default">
                <div class="panel-body pd-5">
                    <div id="myCarousel" class="carousel slide">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <?php foreach($banners as $key=>$vo):?>
                            <div class="item <?php if($key==0) echo 'active';?>">
                                <?php if($vo['url']):?>
                                <a href="{$vo.url}"     target="_blank">
                                <?php else:?>
                                <a href="{:url('index/detail',['id'=>$vo['article_id']])}" target="_blank">
                                <?php endif;?>
                                    <img src="{$vo.image}" alt="{$vo.title}" title="{$vo.title}">
                                </a>
                            </div>
                            <?php endforeach;?>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
                    </div>
                </div>
            </div>
            <!-- 推荐文章 -->
            <div class="panel panel-default recommend">
                <div class="panel-body pd-5 pdb-15">
                    <div class="title col-sm-12 pd-0" style="padding-top:5px;">
                        <div class="t16 pd-0 title">
                            <strong><i class="glyphicon glyphicon-hand-up green"></i></strong>
                            <strong>文章推荐</strong>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 pd-0 mgt-10">
                        <div class="thumbnail mg-0 pd-0" style="margin-right: 10px;">
                            <a href="{:url('index/detail',['id'=>$recArticles[0]['id']])}">
                                <img src="{$recArticles[0]['cover']}" alt="" width="100%" style="height: 140px !important;">
                            </a>
                            <div class="caption omit">
                                <a href="{:url('index/detail',['id'=>$recArticles[0]['id']])}">{$recArticles[0]['title']}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 pd-0 mgt-10">
                        <div class="thumbnail mg-0 pd-0" style="margin: 0 5px;">
                            <a href="{:url('index/detail',['id'=>$recArticles[1]['id']])}">
                                <img src="{$recArticles[1]['cover']}" alt="" width="100%" style="height: 140px !important;">
                            </a>
                            <div class="caption omit">
                                <a href="{:url('index/detail',['id'=>$recArticles[1]['id']])}">{$recArticles[1]['title']}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 pd-0 mgt-10">
                        <div class="thumbnail mg-0 pd-0" style="margin-left: 10px;">
                            <a href="{:url('index/detail',['id'=>$recArticles[2]['id']])}">
                                <img src="{$recArticles[2]['cover']}" alt="" width="100%" style="height: 140px !important;">
                            </a>
                            <div class="caption omit">
                                <a href="{:url('index/detail',['id'=>$recArticles[2]['id']])}">{$recArticles[2]['title']}</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- 最新发布 -->
            <div class="panel panel-default new">
                <div class="panel-heading" style="background: #fff;padding: 10px 5px">
                    <div class="t16 pd-0 title">
                        <strong><i class="glyphicon glyphicon-menu-hamburger green"></i></strong>
                        <strong>最新发布</strong>
                    </div>
                </div>
                <div class="panel-body pd-0">
                    {volist name='newArticles' id='vo'}
                    <div class="item bg-gray">
                        <div class="col-sm-3 col-xs-4 pd-0">
                            <a href="{:url('index/detail',['id'=>$vo['id']])}">
                                <img src="{$vo.cover}" alt="" width="100%">
                            </a>
                        </div>
                        <div class="col-sm-9 col-xs-8 pd-0 pdl-20">
                            <div class="a-title">
                                <a href="{:url('index/detail',['id'=>$vo['id']])}">
                                    <h1 class="mg-0 mgt-5 t20 blue2">{$vo.title}</h1>
                                </a>
                            </div>
                            <div class="mgtb-8 c777 t10">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span><a  class="bule2">{$vo.type}</a></span>
                                <i class="glyphicon glyphicon-eye-open pdl-10"></i>
                                <span> {$vo.views}次浏览</span>
                                <i class="glyphicon glyphicon-time pdl-10"></i>
                                <span> {$vo.update_time|date='Y-m-d',###}</span>
                            </div>
                            <div class="c666 desc">{$vo.desc}</div>
                        </div>
                    </div>
                    {/volist}
                    <div class="page" align="center">
                        {$newArticles->render()}
                    </div>
                </div>
            </div>
            <!-- end left -->
        </div>
        <!-- right -->
        <div class="col-sm-4 col-xs-12 right">
            <!-- 诗词 -->
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #FBFBFB">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span class="pdl-10">诗词</span>
                      </h3>
                </div>
                <div class="panel-body">
                    <p>辛苦遭逢起一经，干戈寥落四周星。</p>
                    <p>山河破碎风飘絮，身世浮沉雨打萍。</p>
                    <p>惶恐滩头说惶恐，零丁洋里叹零丁。</p>
                    <p>人生自古谁无死，留取丹心照汗青。</p>
                </div>
            </div>
            <!-- 搜索 -->
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #FBFBFB">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span class="pdl-10">搜索</span>
                      </h3>
                </div>
                <div class="panel-body">
                    <form action="{:url('index/search')}" method="get">
                        <div class="form-group mgt-5">
                            <input type="text" placeholder="Search" name="key" class="form-control">
                            <input type="submit" class="form-control btn-default mgt-10" value="搜 索">
                        </div>
                    </form>
                </div>
            </div>
            <!-- 热门文章 -->
            <div class="hot panel panel-default">
                <div class="panel-heading" style="background: #FBFBFB">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span class="pdl-10">热门文章</span>
                      </h3>
                </div>
                <div class="panel-body">
                    {volist name='hotArticles' id='vo'}
                    <div class="item">
                        <div class="img col-sm-4 col-xs-4 pd-0">
                            <a href="{:url('index/detail',['id'=>$vo['id']])}">
                                <img src="{$vo.cover}" alt="" width="100%">
                            </a>
                        </div>
                        <div class="content col-sm-8 col-xs-8 pd-0 pdl-15">
                            <div class="a-title">
                                <a href="{:url('index/detail',['id'=>$vo['id']])}">
                                    <h1 class="mg-0 mgt-5 t14 blue2">{$vo.title}</h1>
                                </a>
                            </div>
                            <div class="mgtb-5 c777 t10">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span> {$vo.views}次浏览</span>
                                <i class="glyphicon glyphicon-time pdl-10"></i>
                                <span> {$vo.update_time|date='Y-m-d',###}</span>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
            <!-- 标签 -->
            <!-- <div class="panel panel-default">
                <div class="panel-heading" style="background: #FBFBFB">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-menu-hamburger"></i>
                        <span class="pdl-10">标签</span>
                      </h3>
                </div>
                <div class="panel-body">
                    <div class="content">
                        <a href="">我是个标签</a>
                        <a href="">我是个标签</a>
                        <a href="">我是个标签</a>
                        <a href="">我是个标签</a>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- end right -->
    </div>
</div>
<!-- /container -->
{include file="public:footer"/}
