<!-- 作为弹窗公共头文件 -->
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/h-ui.admin/css/style.css" />
    <script type="text/javascript" src="__LIB__/jquery/3.2.1/jquery.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title>H-ui.admin v3.0</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板">
</head>

<body>
    <article class="cl pd-20">
    <form action="{:url('banner/edit')}" method="post" enctype="multipart/form-data">
        <div action="" class="form form-horizontal" id="form-admin-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$banner.title}" placeholder="" id="title" name="title">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">图片预览：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <img src="{$banner.image}" alt="" height="150">
                </div>
            </div>
            
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">轮播图：</label>
                <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
                    <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
                    <a href="javascript:void();" class="btn btn-primary radius upload-btn">
                        <i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                    <input type="file" multiple name="image" class="input-file">
                    </span> 
                </div>
            </div>


            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
                <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                    <div class="radio-box">
                        <input name="status" type="radio" value="1" <?php if($banner['status']==1) echo 'checked';?>>
                        <label for="sex-1">启用</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" value="0" name="status" <?php if($banner['status']==0) echo 'checked';?>>
                        <label for="sex-2">停用</label>
                    </div>
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>文章ID：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" autocomplete="off" placeholder="25" id="" name="articleID" value="{$banner.article_id}">
                </div>
            </div>
            

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>URL：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" autocomplete="off" placeholder="需要加上http:// 或者 https://" id="" name="url" value="{$banner.url}">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"></label>
                <div class="formControls col-xs-8 col-sm-9">
                    <p style="color: red">注：URL优先级大于文章ID</p>
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input type="hidden" name="bannerID" value="{$banner.id}">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </div>
    </form>
    </article>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
    
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__LIB__/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__LIB__/layer/3.0.3/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="__STATIC__/h-ui.admin/js/H-ui.admin.page.js"></script>
    <!--/_footer /作为公共模版分离出去-->
</body>

</html>
