{include file="public:header"/}
<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页 
        <span class="c-gray en">&gt;</span> 文章管理 
        <span class="c-gray en">&gt;</span> 文章列表 
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray"> 
                <span class="l"> 
                    <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                        <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
                    <a class="btn btn-primary radius" href="javascript:;" onclick="add('添加轮播','{:url('banner/add')}')">
                        <i class="Hui-iconfont">&#xe600;</i> 添加</a> 
                </span> 
                <span class="r">共有数据：<strong>54</strong> 条</span> 
            </div>
            <div class="mt-10">
                <table class="table table-border table-bordered table-hover table-bg">
                    <thead>
                        <tr>
                            <th scope="col" colspan="9">管理</th>
                        </tr>
                        <tr class="text-c">
                            <th width="25">
                                <input type="checkbox" value="" name="">
                            </th>
                            <th width="40">ID</th>
                            <th>文章名称</th>
                            <th>封面</th>
                            <th>URL</th>
                            <th>发布时间</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th width="70">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name="banners" id="vo"}
                        <tr class="text-c">
                            <td><input type="checkbox" value="" name=""></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.title}</td>
                            <td><a href="{$vo.image}" target="_blank">查看</a></td>
                            <td>
                                {if condition="$vo['url']" value=""}
                                    <a href="{$vo.url}" target="_blank">跳转</a>
                                {else}
                                    <a href="{:url('index/Index/detail',['id'=>$vo['article_id']])}" target="_blank">跳转</a>
                                {/if}
                            </td>
                            <td>{$vo.create_time|date='Y-m-d H:i',###}</td>
                            <td>{$vo.update_time|date='Y-m-d H:i',###}</td>
                            <td>{$vo.status}</td>
                            <td class="f-14">
                                <a title="编辑" href="javascript:;" onclick="edit('编辑','{:url('banner/edit',array('id'=>$vo['id']))}','1')" style="text-decoration:none">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a> 
                                <a title="删除" href="javascript:;" onclick="del('{:url('banner/delete')}','{$vo.id}')" class="ml-5" style="text-decoration:none">
                                    <i class="Hui-iconfont">&#xe6e2;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
                <div class="page">
                    {$banners->render()}
                </div>
            </div>
        </article>
    </div>
</section>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
/*轮播-添加*/
function add(title, url) {
    layer.open({
        type: 2,
        title: title,
        shadeClose: false,
        maxmin: true,
        area:['82%','90%'],
        content: url
    });
}
/*轮播-编辑*/
function edit(title, url) {
    layer.open({
        type: 2,
        title: title,
        shadeClose: false,
        maxmin: true,
        area:['82%','90%'],
        content: url
    });
}
/*规则-删除*/
function del(url, id) {
    layer.confirm('确认删除吗？', function(res) {
        $.ajax({
            type: 'post',
            url: url,
            data: {id:id},
            success: function(res){
                if(res.errno==1){
                    layer.msg(res.msg,{time:1000},function(){
                        window.parent.location.reload();
                    });
                }else{
                    layer.msg(res.msg,{time:1500});
                }
            } 
        });
    });
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="public:footer"/}
